<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SoftDevel</title>
    <link rel="stylesheet" href="{{ asset('libs/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/datatables/css/buttons.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/datatables/css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/datatables/css/fixedHeader.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/datatables/css/select.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/fontawesome/css/fontawesome-all.css') }}">
</head>
<body>
<div id="app" >
</div>
<script src="{{ asset('build/js/app.js') }}"></script>
</body>
</html>